.modal {
    @apply fixed flex justify-center items-center z-20 top-0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.85);

    .modal-container {
        @apply rounded-xl overflow-auto;
            width: 23rem;
            height: 36rem;  
            background-color: white;

            .modal-image-area{
                @apply h-60 rounded-b-2xl;

                .modal-header {
                    @apply flex justify-between px-2 pt-1 text-xl font-bold;

                    .btn-close {
                        @apply rounded-full w-6 h-6
                    }   
                }
           
                .sprites {
                    @apply flex flex-col items-center justify-center;

                    .btn-change-img{
                        @apply border border-gray-600 flex gap-4 rounded-xl;

                        button {
                            @apply py-0.5 px-2 rounded-xl;

                            &.selected {
                                background-color: rgba(95, 88, 88, 0.507);
                            }
                        }

                    }

                    img {
                        width: 180px;
                        height: 180px;
                    }
                }
            }

            .modal-stats-area {
                @apply flex flex-col justify-center;

                h1 {
                    @apply mt-1 text-center text-2xl font-semibold;
                }

                .types {
                     @apply flex justify-center gap-2;
                }

                h2 {
                    @apply text-lg font-semibold text-center mt-2;
                }

                .physic-stats{
                    @apply flex justify-center gap-x-12 mt-3 text-center;

                    h3{
                        @apply font-bold text-lg text-center
                    }

                    label{
                        @apply font-light text-sm m-0 p-0;
                    }
                }
                
                .stats-table {
                    @apply text-xl p-2 mx-5 bg-gray-300 rounded-2xl flex flex-col justify-center;

                    label {
                        @apply text-sm;
                    }
                }
            }
    }
}