.loader {
    @apply w-full h-full relative overflow-hidden;
  }
  .loader::after {
    @apply w-2/6 h-full bg-gray-200 absolute top-0 left-0 opacity-70;

    content: '';
    animation: spinner 0.5s linear infinite alternate;
  }
  
  @keyframes spinner {
    0% {
      left: 0;
      transform: translateX(-1%);
    }
    100% {
      left: 100%;
      transform: translateX(-99%);
    }
  }